[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
req_extensions     = req_ext
distinguished_name = dn

[ dn ]
C=${example_country} # US
ST=${example_state} # MA
L=${example_city} # Cambridge
O=${example_org} # Hindsight
OU=${name} # connor
emailAddress=${example.gmail.com}
CN = PYTHON_CONFIG_INSERT_IP_HERE

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
IP.1 = PYTHON_CONFIG_INSERT_IP_HERE

[ v3_ca ]
subjectAltName = @alt_names

