hindsight_android/app/src/main/java/com/connor/hindsight/utils/Preferences.kt
hindsight_android/local.properties
hindsight_android/.gradle/
hindsight_android/.idea/
hindsight_android/app/src/main/res/raw/

hindsight_server/res/san.cnf
hindsight_server/data/
hindsight_server/initialize_server.py
hindsight_server/config.py
hindsight_server/__pycache__/
hindsight_server/notebooks/
hindsight_server/query/__pycache__/
hindsight_server/views/__pycache__/

applications/hindsight_feed/__pycache__
applications/hindsight_feed/data/

**/__pycache__
.vscode/